.child-menu {
    display: none;

    @media #{$desktop} {
        display: block;
    }

    &__list {
        display: flex;
        padding: 0;
        margin-bottom: 50px;
        flex-direction: column;

        @media #{$ipad} {
            flex-direction: row;
        }
    }

    li {
        list-style-type: none;
    }

    li a {
        color: $beige;

        @media #{$ipad} {
            margin: 0 30px;
        }
    }

    li:first-child a {
        margin-left: 0;
    }

    li:last-child a {
        margin-right: 0;
    }

    li a:hover {
        border-bottom: 1px solid $beige;
        padding-bottom: 2px;
    }

    .current_page_item {
        font-style: italic;
    }
}