#fasad {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: $green;
}

.wp-admin .editor-post-title__block .editor-post-title__input,
.wp-admin .editor-post-title__block .rich-text {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

a,
a:active,
a:link,
a:hover,
a:visited {
  text-decoration: underline;
}

p {
  font-weight: 300;
  line-height: 22px;
  font-size: 18px;
}

strong, 
b {
  font-weight: 600;
}

h2 {
  font-size: 30px;
}

h1, h2, p, a, li {
  margin: 0;
}


/**
*
* Desktop:
* Rubrik 30px, 35px
* Brödtext 20px, 15px, 17px
*
*/