#fasad {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

h1,
h2,
h3,
p,
.editor-post-title__block .editor-post-title__input {
  font-family: Futura, Trebuchet MS, Arial, sans-serif !important;
}

a,
a:active,
a:link,
a:hover,
a:visited {
  text-decoration: underline;
  color: $black;
}

p {
  font-weight: 300;
  line-height: 22px;
  font-size: 18px;
}

strong {
  font-weight: 600;
}