#fasad {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: $black;
}

.wp-admin .editor-post-title__block .editor-post-title__input,
.wp-admin .editor-block-list__block .rich-text {
  font-family: Futura, Trebuchet MS, Arial, sans-serif !important;
}

a,
a:active,
a:link,
a:hover,
a:visited {
  text-decoration: underline;
}

p {
  font-weight: 300;
  line-height: 22px;
  font-size: 18px;
}

strong, 
b {
  font-weight: 600;
}