.wpcf7 {
    background: $mint;
    padding: 5px 30px;

    .form-title {
        color: $green;
        text-transform: uppercase;
        text-align: center;
    }

    input,
    textarea {
        width: 100%;
        background: transparent;
        border: none;
        color: $green;
        padding-top: 10px;
    }

    input:focus,
    textarea:focus {
        outline-color: $green;
        outline-offset: -2px;
        outline-style: auto;
        outline-width: 5px;
    }

    label {
        color: $green;
        font-size: 16px;
        font-style: italic;
    }

    .wpcf7-form-control-wrap {
        border-bottom: 2px solid $green;
        padding: 5px 0;

        &.acceptance-370 {
            border: none;

            & .wpcf7-list-item {
                margin: 0;
            }

            & input {
                width: auto;
            }
        }
    }

    input[type=submit] {
        font-size: 25px;
        font-weight: 700;
        line-height: 33px;
    }
}