.header {
    background-color: $white;

    .custom-logo-link .custom-logo {
        margin: 85px auto 60px;
        display: block;
        max-width: 100%;
    }

    &__menu &__menu-list {
        display: flex;
        padding: 0;
        margin-bottom: 40px;
        justify-content: center;
    }

    &__menu &__menu-list .menu-item {
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        list-style-type: none;
    }

    &__menu &__menu-list .menu-item a {
        color: #BEAF9A;
        padding: 15px 30px;
        text-decoration: none;
        text-transform: uppercase;
    }
}

// #{$desktop} {

// }

// $desktop
// $widescreen
// $mobileLandscap