.header {
    background-color: $white;

    .custom-logo-link .custom-logo {
        margin: 45px auto 30px;
        display: block;
        max-width: 100%;
        width: 250px;
        height: auto;

        @media #{$desktop} {
            margin: 105px auto 60px;
            width: 324px;
        }
    }

    &__menu &__menu-list {
        display: flex;
        padding: 0;
        margin-bottom: 40px;
        justify-content: center;
        flex-direction: column;

        @media #{$ipad} {
            flex-direction: row;
        }
    }

    &__menu &__menu-list .menu-item {
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        list-style-type: none;
    }

    &__menu &__menu-list .menu-item.current-menu-item a {
        padding-bottom: 5px;
        border-bottom: 2px solid $beige;
    }

    &__menu &__menu-list .menu-item a {
        color: $beige;
        padding: 15px 0;
        margin: 0 30px;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__menu &__menu-list .menu-item a:hover {
        padding-bottom: 5px;
        border-bottom: 2px solid;
    }
}

// $desktop
// $widescreen
// $mobileLandscap