.header {
    background-color: $ligtPink;
    // box-shadow: 0 3px 20px #e8e8e8;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    @media #{$desktop} {
        box-shadow: none;
        position: static;
        height: auto;
        flex-direction: column;
    }

    .custom-logo {
        width: 180px;
        height: auto;

        @media #{$desktop} {
            width: 250px;
            margin: 60px auto 30px;
        }
    }

    .mobile-menu-logo {
        position: absolute;
        right: 20px;
        cursor: pointer;

        @media #{$desktop} {
            display: none;
        }

        svg {
            width: 35px;
            height: 35px;
            fill: $green;
        }
    }

    &__menu {
        display: none;

        @media #{$desktop} {
            display: block;
        }

        &-list {
            display: flex;
            padding: 0;
            margin-bottom: 40px;
            justify-content: center;
            flex-direction: column;
    
            @media #{$ipad} {
                flex-direction: row;
            }
        }

        &-list .menu-item {
            font-size: 20px;
            font-weight: 700;
            line-height: 27px;
            list-style-type: none;
        }

        &-list .menu-item.current-menu-item a,
        &-list .menu-item.current-page-ancestor a {
            padding-bottom: 5px;
            border-bottom: 2px solid $beige;
        }

        &-list .menu-item a {
            color: $beige;
            padding: 15px 0;
            margin: 0 30px;
            text-transform: uppercase;
        }

        &-list .menu-item a:hover {
            padding-bottom: 5px;
            border-bottom: 2px solid;
        }
    }
}