.fasad-main {
    background: #FEF2EA;
    display: block; 
    margin: 0 auto;
    padding: 25px 0;
    width: 90%;

    @media #{$desktop} {
        padding-top: 80px;
        width: 70%;
    }

    &__title {
        color: $green;
    }

    &__container {
        margin: 0 20px 15px;

        @media #{$desktop} {
            margin: 0 80px 35px;
        }
    }
}