.fasad {
    background-color: $ligtPink;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.fasad-main {
    background: $ligtPink;
    display: block;
    max-width: 1200px;
    width: 100%;
    padding-top: 100px;

    @media #{$desktop} {
        background: $salmon;
        padding-top: 60px;
        width: 80%;
        margin: 0 auto 60px;
    }

    &__title {
        color: $green;
        margin-bottom: 30px;

        @media #{$desktop} {
            margin-bottom: 60px;
        }
    }

    &__container {
        margin: 0 20px 15px;

        @media #{$desktop} {
            margin: 0 80px 35px;
        }
    }
}