.fasad {
    background-color: $ligtPink;
}

.fasad-main {
    background: $ligtPink;
    display: block; 
    // margin: 0 auto 45px;
    width: 100%;
    padding-top: 100px;

    @media #{$desktop} {
        background: $salmon;
        padding-top: 60px;
        width: 80%;
        // margin: 0 auto 105px;
        margin: 0 auto 60px;
    }

    &__title {
        color: $mint;
        margin-bottom: 30px;

        @media #{$desktop} {
            margin-bottom: 60px;
        }
    }

    &__container {
        margin: 0 20px 15px;

        @media #{$desktop} {
            margin: 0 80px 35px;
        }
    }
}