// Mobile menu icon
.mobile-menu-logo--close {
    display: none;
}

// Mobile menu icon - Active
.mobile-menu-icon-active {
    .mobile-menu-logo--close {
        display: block;
    }

    .mobile-menu-logo--open {
        display: none;
    } 
}

// Mobile menu
.mobile-menu {
    display: none;
	background: $ligtPink;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	overflow: scroll;
	-webkit-owerflow-scrolling: touch;
}

// Mobile menu navigation
.mobile__nav {
    width: calc(90% - 40px);
    margin: 100px auto 30px;

    @media #{$desktop} {
        display: none;
    }

    &-list {
        padding: 0;

        > .menu-item {
            font-size: 20px;
            font-weight: 700;
            line-height: 27px;
            list-style-type: none;
        }

        > .menu-item > a {
            color: $beige;
            text-transform: uppercase;
            display: block;
            width: 100%;
            padding: 10px 0;
        }

        > .menu-item.current-page-ancestor,
        > .menu-item.current-menu-item {
            color: $beige;
        }

        > .menu-item.current-menu-item > a > .mobile__nav-item {
            border-bottom: 2px solid $beige;
        }
    }

    &-item {
        margin: 0;
        width: max-content;
    }

    .menu-item-has-children {
        position: relative;
    }

    .child-menu-icon {
        height: 47px;
        width: 47px;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        color: $beige;
    }

    .child-menu-icon .fas {
        line-height: 47px;
    }

    .sub-menu {
        padding: 0;
        display: none;
        // background: $salmon;

        > .menu-item {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            list-style-type: none;
        }

        > .menu-item > a {
            color: $beige;
            text-transform: none;
            display: block;
            width: calc(100% - 20px);
            padding: 12px 10px;
        }

        > .menu-item.current-menu-item > a > .mobile__nav-item {
            border-bottom: 2px solid $beige;
        }
    }
}