.fasad-news {
    color: $green;

    &__filter {
        margin-bottom: 50px;
        &--item {
            margin-right: 30px;
            &:hover {
                border-bottom: 2px solid;
                padding-bottom: 2px;
            }
        }
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 -1rem;

        @media #{$desktop} {
            justify-content: flex-start;
        }
    }

    &__link {
        background-color: #FFF9F5;
        box-sizing: border-box;
        margin: 1rem;
        max-width: 400px;

        @media #{$desktop} {
            padding: 1.5rem;
            width: calc((100% / 2) - 2rem);
        }

        @media #{$largeDeskop} {
            width: calc((100% / 3) - 2rem);
        }
        
        &-title {
            font-size: 18px;
        }
    }

    &__etikett {
        font-size: 13px;

        a:hover {
            border-bottom: 1px solid;
        }

        ul {
            padding: 0;

            li {
                display: inline;
                list-style: none;
            }
        }
    }

    &__link {
        display: block;
        color: inherit;
    }

    &__tags a:hover {
        text-decoration: underline;
    }
}

.fasad-news__single {
    
    &--go-back-link {
        color: $green;
    }

    &--go-back-link:hover {
        text-decoration: underline;
    }

    &--go-back-link h3 {
        margin: 40px 0;
    }

    a:hover {
        text-decoration: underline;
    }
}