.fasad-news {
    color: $green;

    &__item {
        background-color: $salmon;
        display: flex;
        flex-direction: column;
        margin: 40px 0;
        padding: 20px;

        @media #{$desktop} {
            background-color: $ligtPink;
            flex-direction: row;
            padding: 40px;
        }

        &.reverse-order {
            @media #{$desktop} {
                flex-direction: row-reverse;

                .fasad-news__item-content {
                    padding: 0 30px 0 0;
                }
            }
        }

        &-content,
        &-image {
            width: 100%;

            @media #{$desktop} {
                width: 50%;
            }
        }

        &-content {
            margin-top: 24px; 

            @media #{$desktop} {
                margin-top: 0;
                padding: 0 0 0 30px;
            }
        }

        &-title {
            font-size: 30px;
            margin-top: 0;
        }

        &-etikett {
            margin: 0 0 24px 0;
            text-transform: uppercase;
        }
    }

    &__link {
        color: inherit;

        &:hover {
            .fasad-news__item {
                box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
            }
        }
    }

    &__tags a:hover {
        text-decoration: underline;
    }
}

.fasad-news__single {
    
    &--go-back-link {
        color: $green;
    }

    &--go-back-link:hover {
        text-decoration: underline;
    }

    &--go-back-link h3 {
        margin: 40px 0;
    }

    a:hover {
        text-decoration: underline;
    }
}