.fasad-news {
    color: $green;

    &__filter {
        margin-bottom: 50px;
        &--item {
            margin-right: 30px;
            &:hover {
                border-bottom: 2px solid;
                padding-bottom: 2px;
            }
        }
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -1rem;
    }

    &__item {
        margin: 1rem;

        @media #{$desktop} {
            width: calc(100% / 3 - 2rem);
            // padding: 0.5rem;
            // background-color: $ligtPink;
            // flex-direction: row;
            // padding: 40px;
        }

        // &.reverse-order {
        //     @media #{$desktop} {
        //         flex-direction: row-reverse;

        //         .fasad-news__item-content {
        //             padding: 0 30px 0 0;
        //         }
        //     }
        // }

        &-content,
        &-image {
            // width: 100%;
            // @media #{$desktop} {
            //     width: 50%;
            // }
        }

        &-content {
            max-width: 400px;
            // margin-top: 24px; 

            // @media #{$desktop} {
            //     margin-top: 0;
            //     padding: 0 0 0 30px;
            // }
        }

        &-title {
            font-size: 18px;
        }

        &-etikett {
            margin: 0 0 24px 0;
            text-transform: uppercase;
        }
    }

    &__link {
        background-color: $ligtPink;
        display: block;
        color: inherit;

        @media #{$desktop} {
            padding: 1.5rem;

            &:hover {
                box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
            }
        }
    }

    &__tags a:hover {
        text-decoration: underline;
    }
}

.fasad-news__single {
    
    &--go-back-link {
        color: $green;
    }

    &--go-back-link:hover {
        text-decoration: underline;
    }

    &--go-back-link h3 {
        margin: 40px 0;
    }

    a:hover {
        text-decoration: underline;
    }
}