//Colors
$black: #000;
$white: #fff;
$mint: #C8EDDB;
$green: #107664;
$pink: #F2A7BC;
$beige: #BEAF9A;
$ligtPink: #FFF9F5;

// Media Queries
$desktop: "screen and (min-width: 1024px)";
$widescreen: "screen and (min-width: 1920px)";
$mobileLandscape: "screen and (orientation:landscape)";